In [20]:
import pandas as pd

df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_14.csv')

# В ans содержится правильный ответ. Перед отправкой своего решения, сравнитесь с ним.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_14_ans.csv', index_col=0)

In [ ]:
df["nans_num"] = df.isna().sum(axis= 1) # количество пропусков в строке
df = df.query('nans_num <= 2')
df.dropna(subset=['age'], inplace=True)
df["user_time_accident"].fillna(df["user_time_accident"].mean(), inplace=True)
df["user_time_accident"] = df["user_time_accident"].round().astype(float)
df = df[["age", "user_rides", "user_time_accident"]]
result = df

C:\Users\isapa\AppData\Local\Temp\ipykernel_17616\2433741175.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["user_time_accident"].fillna(df["user_time_accident"].mean(), inplace=True)

    age  user_rides  user_time_accident
0  36.0       907.0                10.0
1  32.0       343.0                15.0
3  32.0       852.0                 5.0
4  34.0       344.0                10.0
5  35.0      1124.0                 3.0

In [22]:
ans.head()

    age  user_rides  user_time_accident
0  36.0       907.0                10.0
1  32.0       343.0                15.0
3  32.0       852.0                 5.0
4  34.0       344.0                10.0
5  35.0      1124.0                 3.0

In [27]:
ans.equals(result)

True